<!-- Start:: plan [[ Find at scss/framework/plan.scss ]] -->
<div class="plan bg-light">
    <div class="plan__data">
        <div class="card plan__col" *ngFor="let plan of plans">
            <div class="card-body fw-medium">
                <div class="d-flex align-items-center text-dark mb-4">
                    <span [innerHTML]="plan.icon"></span>
                    <h4 class="mb-0 ps-3" [innerHTML]="plan.name"></h4>
                </div>
                <p class="fs-6 opacity-50">Ce qui est inclut</p>
                <div class="d-flex mb-3" *ngFor="let feature of plan.features">
                    <i class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"></i>
                    <span class="ps-2">{{feature.name}}</span>
                </div>
            </div>
            <div class="card-footer pb-4 pb-sm-0">
                <div class="text-dark mb-3"><span class="fs-4 fw-bold">${{plan.price}}</span>/year</div>
                <button type="button" class="btn btn-primary w-100">Choose</button>
            </div>
        </div>
    </div>
</div>
<!-- End:: plan -->
