
<!-- Hero [[ Find at scss/framework/hero.scss ]] -->
<div class="hero" [style.background-image]="'url(' + picturebackground + ')'"></div>

<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">

    <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
    <div class="section">
        <div class="mb-5 fs-6">
            <h3>Bonjour <span class="text-custom">Gérard</span>, Bienvenue sur votre espace admin 💰</h3>
        </div>
        <div class="row g-4">
            <div class="col-xl-6">
                <div class="card bg-custom text-white">
                    <div class="card-body fs-6">
                        <div class="d-flex align-items-center mb-2">
                            <h4 class="text-white mb-0">Chiffre d'affaire année en cours</h4>
                            <button type="button" class="btn btn-icon text-white ms-auto">
                                <i class="ri-settings-fill"></i>
                            </button>
                        </div>
                        <span class="display-4 d-block mb-3">{{turnover}}€</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row h-100">
                    <div class="col-sm-12">
                        <app-total-users></app-total-users>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <app-statistics></app-statistics>
            </div>
        </div>

    </div>
    <!-- End:: section -->

</div>
<!-- End:: under hero -->
