<!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
<div class="cover cover--round">
    <div class="cover__head" *ngIf="viewDropdown || data.favorite">
        <ul class="cover__label d-flex" *ngIf="data.favorite">
            <li *ngIf="data.favorite">
                <span class="badge rounded-pill bg-danger">
                    <i class="ri-heart-fill"></i>
                </span>
            </li>
        </ul>
        <!-- Dropdown options -->
        <app-dropdown [classes]="'cover__options dropstart d-inline-flex ms-auto'" [data]="data"
            [viewPlay]="viewPlayButton" [viewFavorite]="viewFavorite" [viewPlaylist]="viewPlaylist"
            [viewQueueOptions]="viewQueueOptions" *ngIf="viewDropdown"></app-dropdown>
    </div>

    <div class="cover__image">
        <ng-container *ngIf="coverLink; else coverImage">
            <a [routerLink]="'/song/' + data.category + '/' + data.subcategory + '/' + data.id + '/view'">
                <img [src]="data.cover" [alt]="data.name">
            </a>
        </ng-container>
        <ng-template #coverImage>
            <a [routerLink]="'/song/' + data.category + '/' + data.subcategory + '/' + data.id + '/view'">
                <img [src]="data.image" [alt]="data.title">
            </a>
        </ng-template>

        <button type="button" class="btn btn-play btn-default btn-icon rounded-pill" (click)="play($event)"
            [attr.data-play-id]="data.id" *ngIf="viewPlayButton">
            <i class="ri-play-fill icon-play"></i>
            <i class="ri-pause-fill icon-pause"></i>
        </button>
    </div>

    <div class="cover__foot">
        <a [routerLink]="'/song/' + data.category + '/' + data.subcategory + '/' + data.id + '/view'" routerLinkActive="router-link-active"
            class="cover__title text-truncate">{{data.title}}</a>
        <p class="cover__subtitle text-truncate" >{{data.artist}}</p>
    </div>
</div>
<!-- End:: cover -->