<div class="row g-4">
  <div [ngClass]="isHome ? 'col-12' : 'col-6 col-md-4 col-xl-3'" *ngFor="let song of songs; trackBy: trackById">
    <div class="cover cover--round">
      <div class="cover__image">
        <ng-container *ngIf="coverLink; else coverImage">
          <a [routerLink]="'/song/' + song.category + '/' + song.slug">
            <img [src]="song.image" [alt]="song.title || ''">
          </a>
        </ng-container>

        <ng-template #coverImage>
          <a [routerLink]="'/song/' + song.category + '/' + song.slug">
            <img [src]="song.image" [alt]="song.title || ''">
          </a>
        </ng-template>

        <button
          type="button"
          class="btn btn-play btn-default btn-icon rounded-pill"
          (click)="play($event, song)"
          [attr.data-play-id]="song.id"
          *ngIf="viewPlayButton"
        >
          <i class="ri-play-fill icon-play"></i>
          <i class="ri-pause-fill icon-pause"></i>
        </button>
      </div>

      <div class="cover__foot">
        <a
          [routerLink]="'/song/' + song.category + '/' + song.slug"
          routerLinkActive="router-link-active"
          class="cover__title text-truncate"
        >
          {{ song.title }}
          <span class="exclu">{{ song.exclu === 'oui' ? '(Exclusivité)' : '' }}</span>
          <p class="cover__subtitle text-truncate" >{{ song.artist }}</p>
        </a>
      </div>
    </div>
  </div>
</div>