<!-- Hero [[ Find at scss/framework/hero.scss ]] -->
<div class="hero" style="background-image: url(./assets/images/banner/song.jpg);"></div>

<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">

    <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
    <div class="section">
        <div class="row">
            <div class="col-xl-12 col-md-10 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="#" class="row" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                            <div class="col-12 mb-4">
                                <input type="text" formControlName="name" class="form-control"
                                    placeholder="Votre nom & prénom">
                            </div>
                            <div class="col-12 mb-4">
                                <input type="email" class="form-control" formControlName="email" placeholder="E-mail">
                            </div>
                          <div class="col-12 mb-4">
                            <input type="tel" class="form-control" formControlName="tel" placeholder="Téléphone">
                          </div>
                            <div class="col-12 mb-4">
                                <textarea name="description" id="description" formControlName="message" cols="30" rows="4"
                                    class="form-control" placeholder="Votre message..."></textarea>
                            </div>
                          <div class="col-12 mb-4">
                          <re-captcha (resolved)="resolved($event)"></re-captcha>
                          </div>
                          <div class="col-12 mb-4" *ngIf="error">
                            <div class="alert alert-danger">{{error}}</div>
                          </div>
                          <div class="col-12 mb-4" *ngIf="success">
                            <div class="alert alert-success">{{success}}</div>
                          </div>
                          <div class="col-12 mb-4">
                                <button  [disabled]="!contactForm.valid" class="btn btn-primary">Envoyer votre message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: section -->

</div>
<!-- End:: under hero -->
