<!-- Hero [[ Find at scss/framework/hero.scss ]] -->
<div class="hero" style="background-image: url(./assets/images/banner/home.jpg);"></div>

<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">

  <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
  <div class="section">
    <div class="row">
      <div class="col-xl-12 col-md-10 mx-auto">
        <div class="card">
          <div class="card-header pb-0">
            <!-- Start:: mat tabs [[ Find at scss/components/nav.scss ]] -->
            <div class="mat-tabs" appTabs>
              <ul class="nav nav-tabs" id="add_music" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="licence1" data-bs-toggle="tab" data-bs-target="#licence_un"
                          type="button" role="tab" aria-controls="licence_un" aria-selected="true">Ajouter une catégorie
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="licence2" data-bs-toggle="tab" data-bs-target="#licence_deux" type="button"
                          role="tab" aria-controls="licence_deux" aria-selected="false">Supprimer une catégorie
                  </button>
                </li>
              </ul>
            </div>
            <!-- End:: mat tabs -->
          </div>
          <div class="card-body">
            <div class="tab-content" id="add_music_content">
              <div class="tab-pane fade show active" id="licence_un" role="tabpanel" aria-labelledby="licence1"
                   tabindex="0">
                <form action="#" class="row" [formGroup]="categoryForm">
                  <div class="col-12 mb-4">
                    <input type="text" formControlName="title_fr" class="form-control"
                           placeholder="Titre de la catégorie en français">
                  </div>
                  <div class="col-12 mb-4">
                    <input type="text" formControlName="title_en" class="form-control"
                           placeholder="Titre de la catégorie en anglais">
                  </div>
                  <div class="col-12 mb-4">
                    <select class="form-select" formControlName="category" aria-label="Select category">
                      <option value="" selected disabled hidden>Merci de choisir</option>
                      <option value="chansons">Chansons</option>
                      <option value="instrumentaux">Instrumentaux</option>
                      <option value="youtubeurs">Youtubeurs</option>
                    </select>
                  </div>
                  <div class="col-12 mb-4">
                    <input type="file" class="form-control" (change)="onFileSelected($event)">
                  </div>
                  <div class="card-footer text-center">
                    <button class="btn btn-cutsom" style="min-width: 140px;" (click)="addCategory()"
                            [disabled]="!categoryForm.valid">Ajouter catégorie</button>
                    <button class="btn btn-outline-secondary ms-2">Cancel</button>
                  </div>
                </form>
              </div>
              <div class="tab-pane fade" id="licence_deux" role="tabpanel" aria-labelledby="licence2" tabindex="0">
                <form action="#" class="row">
                  <div class="col-12 mb-4">
                    <table class="table">
                      <thead>
                      <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Supprimer</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let category of categories">
                        <td>{{category.title_fr}} ({{category.category}})</td>
                        <td><button class="btn btn-light-danger" (click)="delete(category.id)">Supprimer</button></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End:: section -->

</div>
