
<!-- Hero [[ Find at scss/framework/hero.scss ]] -->
<div class="hero" style="background-image: url(./assets/images/banner/song.jpg);"></div>

<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">

  <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
  <div class="section">
    <div class="section__head align-items-center">
      <span class="d-block pe-3 fs-6 fw-semi-bold">{{songs.length}} musiques au total</span>
    </div>

    <!-- Start:: list [[ Find at scss/components/list.scss ]] -->
    <div class="list">
      <div class="row">
        <div class="col-xl-6" *ngFor="let song of songs">
          <app-list-view [data]="song"></app-list-view>
        </div>
      </div>
    </div>

  </div>
  <!-- End:: section -->


</div>
<!-- End:: under hero -->
