<!-- Hero [[ Find at scss/framework/hero.scss ]] -->
<div class="hero" [style.background-image]="'url(' + picturebackground + ')'"></div>

<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">

  <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
  <div class="section">
    <div class="row">
      <div class="col-xl-12 col-md-10 mx-auto">
        <div class="card">
          <div class="card-body">
            <form action="#" class="row" (ngSubmit)="onSubmit()">
              <div class="col-12 mb-4">
                <ck-editor name="editor1" [config]="{ versionCheck: false }" [(ngModel)]="editor" skin="moono-lisa" language="fr" [fullPage]="true"></ck-editor>
              </div>
              <div class="col-12 mb-4">
                <button class="btn btn-custom">Enregistrer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End:: section -->

</div>
<!-- End:: under hero -->
