<div class="hero" [style.background-image]="'url(' + picturebackground + ')'"></div>

<!-- Start:: under hero -->
<div class="under-hero container">

    <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
    <div class="section">
        <div class="row">
            <div class="col-xl-12 col-md-10 mx-auto">
                <div class="card">
                    <div class="legal-container">
                        <div class="legal-title">Mentions Légales</div>

                        <div class="legal-section-title">1. Éditeur du site</div>
                        <p>
                            Nom de l'entreprise : <strong>CREATOKE</strong><br>
                            Adresse : Arcades des Citeaux, Le Sénanque, 13127 Vitrolles, France<br>
                            Email : contact@creatoke.fr<br>
                            Hébergement : <strong>o2Switch</strong><br>
                            Adresse : Chem. des Pardiaux, 63000 Clermont-Ferrand, France<br>
                            Téléphone : +33 02 036 950 543<br>
                            Développeur du site web : <strong>Cyril VELLA - <a href="https://www.cyrilvella.com" _target="_blank">www.cyrilvella.com</a></strong>
                        </p>

                        <div class="legal-section-title">2. Propriété intellectuelle</div>
                        <p>
                            Le contenu du site <strong>Creatoke</strong> (musiques, textes, images, vidéos, logos, etc.)
                            est
                            protégé par le droit de la propriété intellectuelle et reste la propriété exclusive de
                            Creatoke.
                        </p>

                        <div class="legal-section-title">3. Collecte des données personnelles</div>
                        <p>
                            Les informations recueillies sur ce site sont utilisées uniquement dans le cadre de la
                            gestion de la
                            relation client et ne sont en aucun cas revendues à des tiers. Seules les adresses emails
                            sont
                            collectées sur creatoke.fr.
                        </p>

                        <div class="legal-section-title">4. Cookies</div>
                        <p>
                            Ce site n’utilise pas de cookies.
                        </p>

                        <div class="legal-section-title">5. Droit applicable</div>
                        <p>
                            Les présentes mentions légales sont régies par la loi française. En cas de litige, les
                            tribunaux
                            compétents seront ceux de Paris.
                        </p>

                        <div class="legal-section-title">6. Politique de confidentialité (RGPD)</div>
                        <p>
                            Creatoke accorde une importance primordiale à la protection des données personnelles.
                            Conformément
                            au Règlement Général sur la Protection des Données (RGPD), nous nous engageons à garantir la
                            transparence, la sécurité et le respect des droits des individus.
                        </p>

                        <div class="legal-subsection-title">Catégories de données collectées</div>
                        <p>Nous collectons uniquement les adresses emails des utilisateurs.</p>

                        <div class="legal-subsection-title">Finalité du traitement des données</div>
                        <ul>
                            <li>Gestion des achats</li>
                            <li>Envoi d’offres promotionnelles</li>
                        </ul>

                        <div class="legal-subsection-title">Base légale du traitement</div>
                        <ul>
                            <li>Consentement explicite de l'utilisateur</li>
                            <li>Exécution d’un contrat (achat de musique)</li>
                            <li>Obligation légale (facturation)</li>
                            <li>Intérêt légitime (amélioration des services, sécurité)</li>
                        </ul>

                        <div class="legal-subsection-title">Conservation des données</div>
                        <ul>
                            <li>Comptes clients : jusqu’à suppression par l’utilisateur</li>
                            <li>Facturation : 10 ans</li>
                            <li>Historique : 2 ans maximum</li>
                        </ul>

                        <div class="legal-subsection-title">Droits des utilisateurs</div>
                        <ul>
                            <li>Droit d’accès</li>
                            <li>Droit de rectification</li>
                            <li>Droit à l’effacement</li>
                            <li>Droit à la portabilité</li>
                            <li>Droit d’opposition</li>
                            <li>Droit à la limitation</li>
                        </ul>

                        <p>Pour exercer vos droits : <a href="mailto:contact@creatoke.fr">contact@creatoke.fr</a></p>

                        <div class="legal-subsection-title">Sécurité et partage</div>
                        <p>Les données ne sont jamais partagées sauf obligation légale. Toutes les mesures nécessaires
                            sont
                            prises pour assurer leur sécurité.</p>

                        <div class="legal-subsection-title">Modifications</div>
                        <p>Cette politique peut être mise à jour. Dernière mise à jour : 22/06/2025.</p>

                        <p class="back"><a routerLink="/">Retour à l'accueil</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>