<div class="hero" [style.background-image]="'url(' + picturebackground + ')'"></div>

<div class="under-hero container">

    <div class="section">
        <div class="row">
            <div class="col-xl-3 col-md-4">
                <div class="cover cover--round">
                    <div class="cover__image">
                        <div class="spinner" *ngIf="imgLoading" aria-label="Chargement"></div>
                        <img [class.is-hidden]="imgLoading" [src]="song?.image" [alt]="song?.title || ''"
                            (load)="imgLoading = false" />
                    </div>
                </div>
            </div>
            <div class="col-1 d-none d-xl-block"></div>
            <div class="col-md-8 mt-5 mt-md-0">
                <div class="d-flex flex-wrap mb-2">

                    <span class="text-dark fs-4 fw-semi-bold pe-2">{{song?.title}}<span class="exclu">
                            {{song?.exclu == 'oui' ? ' (Exclusivité plateforme)' : '' }}</span></span>
                </div>
                <ul class="info-list info-list--dotted mb-3">
                    <li *ngIf="song?.category">
                        <ng-container *ngFor="let cat of song?.category; last as isLast">
                            {{cat}}{{!isLast ? ', ' : ''}}
                        </ng-container>
                    </li>

                </ul>
                <div class="mb-4">
                    <p class="mb-2">Interprète:
                        <span class="text-dark fw-medium">
                            {{song?.artist}}
                        </span>
                    </p>
                    <p class="mb-4">Description:
                        <span class="text-dark fw-medium" style="word-wrap: break-word;">
                            {{song?.description}}
                        </span>
                    </p>
                    <p class="mb-4" [hidden]="song?.exclu == 'non'" *ngIf="song?.exclu">
                        <span class="text-dark fw-medium" style="word-wrap: break-word;">
                            🎤☀️ Chanson en contrat avec un distributeur , vous pouvez la télécharger sur n'importe
                            quelle
                            plateforme (Spotify, Deezer, etc...)
                        </span>
                    </p>

                </div>
                <ul class="info-list mb-5">
                    <li
                        [hidden]="song?.exclu == 'oui' && (song?.category == 'instrumentaux' || song?.category == 'createurs-de-contenu')">
                        <div class="d-flex align-items-center">
                            <div class="chanson-player">
                                <button type="button" class="btn btn-icon btn-player rounded-pill"
                                    (click)="play($event)" [attr.data-play-id]="song?.id">
                                    <i class="ri-play-fill icon-play"></i>
                                    <i class="ri-pause-fill icon-pause"></i>
                                </button>
                                <span class="text-extrait">{{ song?.exclu == 'oui' ? 'Écouter le créatoké' : 'Écouter la
                                    chanson'}}</span>
                            </div>
                            <div class="chanson-player"
                                *ngIf="(song?.category == 'chansons-a-chanter' || song?.category == 'chansons-cherche-auteur') && song?.exclu == 'non'">
                                <button type="button" class="btn btn-icon btn-player rounded-pill"
                                    (click)="toggleAudio()">
                                    <ng-container *ngIf="isPlaying; else pauseIcon">
                                        <i class="ri-pause-fill icon-pause"></i>
                                    </ng-container>
                                    <ng-template #pauseIcon>
                                        <i class="ri-play-fill icon-play"></i>
                                    </ng-template>
                                </button>
                                <span class="text-extrait">Écouter le créatoké</span>
                            </div>
                            <span class="ps-2 fw-semi-bold" *ngIf="song?.played">{{song?.played}}</span>
                        </div>
                    </li>
                    <li *ngIf="song?.ratings">
                        <span class="text-dark d-flex align-items-center">
                            <i class="ri-star-fill text-warning"></i>
                            <span class="ps-2 fw-medium">{{song?.ratings}}</span>
                        </span>
                    </li>
                </ul>
                <!-- Bouton -->
                <div class="mt-2" [hidden]="!song?.lyrics">
                    <button class="btn btn-custom" type="button" (click)="showLyricsBtn()">
                        {{ showLyrics ? 'Cacher les paroles' : 'Voir les paroles' }}
                    </button>
                </div>

                <!-- Lyrics -->
                <div class="mt-2" *ngIf="showLyrics && (song?.lyrics ?? '').trim().length > 0">
                    <span class="d-block text-dark fs-6 fw-semi-bold mb-3">Lyrics</span>
                    <p style="word-wrap: break-word;" [innerHTML]="song?.lyrics"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div *ngIf="(song?.spotifyURL ?? '').trim() !== '' && song?.spotifyURL !== 'vide'">
            <div class="section__head">
                <h3 class="mb-0">Spotify</h3>
            </div>
            <div class="plan bg-light large">
                <div class="plan__data">
                    <div class="iframe-container">
                        <iframe style="border-radius:12px" [src]="this.trustedDashboardUrl" width="100%" height="152"
                            frameBorder="0" allowfullscreen=""
                            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                            loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="(song?.youtubeURL ?? '').trim() !== '' && song?.youtubeURL !== 'vide'">
            <div class="section__head">
                <h3 class="mb-0">Youtube</h3>
            </div>
            <div class="plan bg-light large">
                <div class="plan__data">
                    <div class="iframe-container">
                        <iframe width="640" height="315" [src]="videoUrl">
                        </iframe>

                    </div>
                </div>
            </div>
        </div>


        <div class="section">
            <div class="section__head">
                <h3 class="mb-0" style="padding-top: 20px">Acheter<span class="exclu">{{categoryName}}</span></h3>
            </div>
            <div class="plan bg-light" *ngIf="song?.message?.length === 0 || song?.exclu === 'non'; else elseBlock">
                <div class="plan__data">
                    <ng-container *ngIf="song?.isLicenceBase === 'oui'">
                        <div class="card plan__col">
                            <div class="card-body fw-medium">
                                <div class="d-flex align-items-center text-dark mb-4">
                                    <span></span>
                                    <h4 class="mb-0 ps-3">Licence de base</h4>
                                </div>
                                <p class="fs-6 opacity-50">Ce qui est inclus</p>
                                <div class="d-flex mb-3" *ngFor="let feature of licences">
                                    <i class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"></i>
                                    <span class="ps-2" [innerHTML]="feature.basic"></span>
                                </div>
                            </div>
                            <div class="card-footer pb-4 pb-sm-0">
                                <div class="text-dark mb-3">
                                    <span class="fs-4 fw-bold">{{song?.price_base === 0
                                        ?
                                        'Gratuit' : song?.price_base + '€'}}</span>
                                </div>

                                <button type="button" [hidden]="+(song?.price_base ?? 0) === 0"
                                    (click)="openModal(song.price_base, licences[0]['basic'], 'price_base', song.title)"
                                    class="btn btn-custom w-100">Choisir</button>

                                <button type="button" class="btn btn-custom w-100" *ngIf="song?.price_base === 0"
                                    (click)="downloadSong(song?.creatoke_mp3 + '.mp3')">Télécharger en MP3</button>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="song?.isPremium === 'oui'">
                        <div class="card plan__col">
                            <div class="card-body fw-medium">
                                <div class="d-flex align-items-center text-dark mb-4">
                                    <span></span>
                                    <h4 class="mb-0 ps-3">Licence premium</h4>
                                </div>
                                <p class="fs-6 opacity-50">Ce qui est inclus</p>
                                <div class="d-flex mb-3" *ngFor="let feature of licences">
                                    <i class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"></i>
                                    <span class="ps-2" [innerHTML]="feature.base_plus"></span>
                                </div>
                            </div>
                            <div class="card-footer pb-4 pb-sm-0">
                                <div class="text-dark mb-3"><span class="fs-4 fw-bold">{{song?.price_premium === 0
                                        ?
                                        'Gratuit' : song?.price_premium + '€'}}</span>
                                </div>
                                <button type="button" [hidden]="+(song?.price_premium ?? 0) === 0"
                                    (click)="openModal(song.price_premium, licences[0]['base_plus'], 'price_premium', song.title)"
                                    class="btn btn-custom w-100">Choisir</button>

                                <button type="button" class="btn btn-custom w-100" *ngIf="song?.price_premium === 0"
                                    (click)="downloadSong(song?.chanson_wav + '.wav')">Télécharger en Wav</button>
                            </div>
                        </div>
                    </ng-container>

                    <div class="card plan__col">
                        <div class="card-body fw-medium">
                            <div class="d-flex align-items-center text-dark mb-4">
                                <span></span>
                                <h4 class="mb-0 ps-3">Licence pro et exclusivité</h4>
                            </div>
                            <p class="fs-6 opacity-50">Ce qui est inclus</p>
                            <div class="d-flex mb-3" *ngFor="let feature of licences">
                                <i class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"></i>
                                <span class="ps-2" [innerHTML]="feature.premium"></span>
                            </div>
                        </div>
                        <div class="card-footer pb-4 pb-sm-0">
                            <div class="text-dark mb-3"><span class="fs-4 fw-bold">À la carte</span></div>
                            <button type="button" (click)="contact()"
                                class="btn btn-custom w-100">Contactez-nous</button>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                <div class="alert alert-custom" [innerHTML]="song?.message"></div>
            </ng-template>
        </div>

        <div class="section"
            *ngIf="song?.category === 'chansons-a-chanter' || song?.category === 'chansons-cherche-auteur'">
            <div class="section__head">
                <h3 class="mb-0" style="padding-top: 20px">Acheter<span class="exclu"> le créatoké</span></h3>
            </div>

            <div class="plan bg-light">
                <div class="plan__data">
                    <ng-container *ngIf="song.isLicenceBaseCreatoke === 'oui'">
                        <div class="card plan__col">
                            <div class="card-body fw-medium">
                                <div class="d-flex align-items-center text-dark mb-4">
                                    <span></span>
                                    <h4 class="mb-0 ps-3">Licence de base créatoké</h4>
                                </div>
                                <p class="fs-6 opacity-50">Ce qui est inclus</p>
                                <div class="d-flex mb-3" *ngFor="let feature of licences">
                                    <i class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"></i>
                                    <span class="ps-2" [innerHTML]="feature.basic"></span>
                                </div>
                            </div>
                            <div class="card-footer pb-4 pb-sm-0">
                                <div class="text-dark mb-3">
                                    <span class="fs-4 fw-bold">{{song?.price_base_creatoke === 0
                                        ?
                                        'Gratuit' : song?.price_base_creatoke + '€'}}</span>
                                </div>
                                <button type="button" [hidden]="+(song?.price_base_creatoke ?? 0) === 0"
                                    (click)="openModal(song.price_base_creatoke, licences[0]['basic'], 'price_base_creatoke', song.title)"
                                    class="btn btn-custom w-100">Choisir</button>

                                <button type="button" class="btn btn-custom w-100"
                                    *ngIf="song?.price_base_creatoke === 0"
                                    (click)="downloadSong(song?.creatoke_mp3 + '.mp3')">Télécharger en MP3</button>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="song.isPremiumCreatoke === 'oui'">
                        <div class="card plan__col">
                            <div class="card-body fw-medium">
                                <div class="d-flex align-items-center text-dark mb-4">
                                    <span></span>
                                    <h4 class="mb-0 ps-3">Licence premium créatoké</h4>
                                </div>
                                <p class="fs-6 opacity-50">Ce qui est inclus</p>
                                <div class="d-flex mb-3" *ngFor="let feature of licences">
                                    <i class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"></i>
                                    <span class="ps-2" [innerHTML]="feature.base_plus"></span>
                                </div>
                            </div>
                            <div class="card-footer pb-4 pb-sm-0">
                                <div class="text-dark mb-3">
                                    <span class="fs-4 fw-bold">{{song?.price_premium_creatoke === 0
                                        ?
                                        'Gratuit' : song?.price_premium_creatoke + '€'}}</span>
                                </div>

                                <button type="button" [hidden]="+(song?.price_premium_creatoke ?? 0) === 0"
                                    (click)="openModal(song.price_premium_creatoke, licences[0]['base_plus'], 'price_premium_creatoke', song.title)"
                                    class="btn btn-custom w-100">Choisir</button>

                                <button type="button" class="btn btn-custom w-100" *ngIf="song?.price_premium === 0"
                                    (click)="downloadSong(song?.creatoke_wav + '.wav')">Télécharger en Wav</button>
                            </div>
                        </div>
                    </ng-container>

                    <div class="card plan__col">
                        <div class="card-body fw-medium">
                            <div class="d-flex align-items-center text-dark mb-4">
                                <span></span>
                                <h4 class="mb-0 ps-3">Licence pro et exclusivité</h4>
                            </div>
                            <p class="fs-6 opacity-50">Ce qui est inclus</p>
                            <div class="d-flex mb-3" *ngFor="let feature of licences">
                                <i class="ri-checkbox-circle-fill text-primary opacity-75 fs-6"></i>
                                <span class="ps-2" [innerHTML]="feature.premium"></span>
                            </div>
                        </div>
                        <div class="card-footer pb-4 pb-sm-0">
                            <div class="text-dark mb-3"><span class="fs-4 fw-bold">À la carte</span></div>
                            <button type="button" (click)="contact()"
                                class="btn btn-custom w-100">Contactez-nous</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-comment [data]="song"></app-comment>

    </div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content custom">
                <div class="modal-header">
                    <h4 class="modal-title text-center w-100">Paiement sécurisé avec Paypal</h4>
                    <button type="button" class="btn-close-custom" aria-label="Fermer" (click)="onCloseHandled()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-6 offset-sm-3">
                        <div class="mb-12">
                            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" (click)="onCloseHandled()">Fermer</button>
                </div>
            </div>
        </div>
    </div>