
<!-- Hero [[ Find at scss/framework/hero.scss ]] -->
<div class="hero" style="background-image: url(./assets/images/banner/home.jpg);"></div>


<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">

    <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
    <div class="section">
        <div class="section__head">
            <div class="flex-grow-1">
                <span class="section__subtitle">Dernières publications</span>
                <h3 class="mb-0">Nos <span class="text-primary">coups de coeur</span></h3>
            </div>
        </div>

        <ng-template #charts let-data="data">
            <app-cover-view [data]="data"></app-cover-view>
        </ng-template>
        <app-carousel [classes]="'swiper-carousel-button'" [slideTemplate]="charts" [slideData]="songs" [slides]="5" [navigation]="true"></app-carousel>
    </div>
    <!-- End:: section -->
</div>
