<!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
<div class="section" style="padding-top: 20px;">
    <div class="section__head">
        <h3 class="mb-0">Commentaires</h3>
    </div>
    <div class="row">
        <div class="col-xl-8">
            <form class="row mb-5" [formGroup]="form">
                <div class="col-12 mb-3 d-flex align-items-center">
                    <span class="form-label mb-0">Votre note:</span>
                    <div class="ps-2">
                        <select class="form-select" style="min-width: 100px;" aria-label="Select ratings" formControlName="ratings">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <input type="text" class="form-control" placeholder="Votre pseudo..." formControlName="name">
                </div>
                <div class="col-6 mb-3">
                    <input type="text" class="form-control" placeholder="Votre e-mail..." formControlName="email">
                </div>
                <div class="col-12 mb-4">
                    <textarea name="comment" id="comment" cols="30" rows="4" class="form-control" placeholder="Votre commentaire..." formControlName="comment"></textarea>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-custom" (click)="createComment()" style="min-width: 160px;" [disabled]="form.invalid">Commenter</button>
                </div>
            </form>
            <div class="avatar avatar--lg align-items-start" style="min-height: 160px" *ngFor="let post of comments">
                <div class="avatar__image">
                    <img src="./assets/images/users/users.png" alt="user">
                </div>
                <div class="avatar__content">
                    <span class="avatar__title mb-1">{{post.name}}</span>
                    <span class="avatar__subtitle mb-2">{{post.created_at}}</span>
                    <div class="text-warning d-flex mb-1">
                      <i class="ri-star-fill" *ngFor="let i of getStarsArray(post.ratings)"></i>
                    </div>
                    <p>{{post.comment}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: section -->
