# Force HTTPS and redirect all HTTP traffic to HTTPS
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect all HTTP requests to HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Redirect www to non-www (Optional)
  # RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  # RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

  # Handle Angular Routes
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ /index.html [L]
</IfModule>

# Set Cache-Control headers to cache static files
<IfModule mod_headers.c>
  <FilesMatch "\.(html|htm|js|css|json|woff|woff2|ttf|eot|svg|png|jpg|jpeg|gif|ico)$">
    Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>
</IfModule>